body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#les-content {
    flex: 1;
}

#les-header {
    width: 100%;
    height: 100px;
    background-color: #a2a3b7;
}

#les-footer {
    width: 100%;
    height: 100px;
    background-color: #a2a3b7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-img {
    max-width: 100px;
    max-height: 100px;
}

#les-cell-1-1 {
    background-color: #a2a3b7;
    color: #186803;
}

#les-cell-1-2 {
    background-color: #3fbd64;
}

#les-cell-1-3 {
    background-color: #c2018b;
    color: #03c3fe;
}

#les-cell-1-4 {
    background-color: #fa938c;
}

#les-cell-2-1 {
    background-color: #e2132b;
    color: #603af0;
}

#les-cell-2-2 {
    background-color: #186803;
}

#les-cell-2-3 {
    background-color: #183aa0;
    color: #e2132b;
}

#les-cell-2-4 {
    background-color: #31b986;
}

#les-cell-3-1 {
    background-color: #1afd4b;
    color: #183aa0;
}

#les-cell-3-2 {
    background-color: #c997ea;
}

#les-cell-3-3 {
    background-color: #32d612;
    color: #fa938c;
}

#les-cell-3-4 {
    background-color: #603af0;
}

#les-cell-4-1 {
    background-color: #7967ce;
    color: #a2a3b7;
}

#les-cell-4-2 {
    background-color: #03c3fe;
}

#les-cell-4-3 {
    background-color: #2c34f0;
    color: #ffff00;
}

#les-cell-4-4 {
    background-color: #156aeb;
}